<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976283416940-qhl8tqjja870lonjsr2r4ttdt9dust66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976283416940-qhl8tqjja870lonjsr2r4ttdt9dust66</string>
	<key>API_KEY</key>
	<string>AIzaSyDG0koq72CrgDJwnK7k4P_ZTMuNBMNYrW0</string>
	<key>GCM_SENDER_ID</key>
	<string>976283416940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appstore.Instagram-withStoryBoard</string>
	<key>PROJECT_ID</key>
	<string>instagramstoryboard</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramstoryboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976283416940:ios:b2990b54b61233df</string>
	<key>DATABASE_URL</key>
	<string>https://instagramstoryboard.firebaseio.com</string>
</dict>
</plist>